.InnerLibrary {
    font-size: 25px;
    display: table;
    text-align: center;
    margin: 20px;
    padding: 20px;
    width: 90%;
    background-color: rgba(113, 123, 136, 0.2);
}

.LeftRow {
    float: left;
    max-width: 100px;
}

#gameImage{
    float: left;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.gameURLs{
    text-decoration: none;
    color: rgba(102, 252, 241, 1);
    padding-right: 50px;
}


#removeGame{
    transform: translate(0%, 5%);
    background-image: url('C:/Users/rfell/react-recommend-page/src/Library JS/Images/MinusButton.png') !important;
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background-size: 40px;
    transition-duration: 0.4s;
}

#removeGame:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transition-duration: 0.4s;
}